<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771396788193-ulr56s5u8h19igrln08ailt9o1fagsce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771396788193-ulr56s5u8h19igrln08ailt9o1fagsce</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>771396788193-fie8vsnurehcc729tsekq3m7n2ieifab.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAe-YmFRj-g76GoFs-FBBHRhVTRsa5oTQU</string>
	<key>GCM_SENDER_ID</key>
	<string>771396788193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.src</string>
	<key>PROJECT_ID</key>
	<string>do-good-get-good-2f6cc</string>
	<key>STORAGE_BUCKET</key>
	<string>do-good-get-good-2f6cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771396788193:ios:b678aa026f7cdcfb7ebca0</string>
</dict>
</plist>