<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771396788193-9q8uq5drvp61e2n74739jrg5fn4ibovm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771396788193-9q8uq5drvp61e2n74739jrg5fn4ibovm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>771396788193-fie8vsnurehcc729tsekq3m7n2ieifab.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAe-YmFRj-g76GoFs-FBBHRhVTRsa5oTQU</string>
	<key>GCM_SENDER_ID</key>
	<string>771396788193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.technogarden.dogoodgetgood</string>
	<key>PROJECT_ID</key>
	<string>do-good-get-good-2f6cc</string>
	<key>STORAGE_BUCKET</key>
	<string>do-good-get-good-2f6cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771396788193:ios:20fef23351728e9f7ebca0</string>
	<key>DATABASE_URL</key>
	<string>https://do-good-get-good-2f6cc-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>